<!DOCTYPE html>
<html>
<head>
  <title>Jungle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top_nav' %>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <% unless flash.empty? %>
        <% flash.each do |type,message| %>
          <div class="alert alert-<%= type %>"><li><%= message %></li></div>
        <% end %>
      <% end %>  
    </div>
  </div>

  <main class="container">
    <%= yield %>
  </main>

  <%= yield :end_of_body %>
</body>
</html>
